/cache/
/resources/\[local\]/
/db/
/artifacts/
/resources/[base]/[FafaDev]/core/data/resources/[base]/[FafaDev]/core/data/blips.json
/resources/[base]/[others]/doorBuilder/doors.json
server.cfg
run.bat